<h2>All users</h2>

<% @users = User.all %>
<% @users.each do |user| %>
<div class="media-left">
<%= image_tag avatar_url(user), class: 'media-object' %>
</div>
<div class="media-body">
  <%= link_to user.name, user_path(user) %><br/>
</div>

  <br/>
<% end %>
