<h1>About my page</h1>
<p>I created this page as a project for an online school called Bloc.io<br>
I will return to do some updates and turn it in to a verson that we can use at work. </p>

<button class="social-btn"><%= link_to "Follow me", "https://www.twitter.com/jeffwolfram" %></button>
